@import './variable';

.model_bg{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    

    .model{
        border: 1px solid var(--red);
        width: 480px;
        border-radius: 1rem 1rem 0 0;
        .model_close{
            font-size: 20px;
        }
        .model_title{
            border-radius: 1rem 1rem 0 0;
            font-size: 16px;
            background-color: #6D0828;
            color: var(--primary);
            padding:  1rem;
        }
        .wallets{
            flex-direction: column;
            padding: 1rem;
            background-color: #1A1127;

            .wallet{
                margin: 1rem;
                padding: 1rem;
                width: 100%;
                background-color: #1F152E;
                border: 1px solid transparent;
                border-radius: 1rem;
                cursor: pointer;
                h1{
                    color: var(--primary);
                    font-weight: 500;
                    font-size: 16px;
                }
            }

            .wallet:hover{
                border-color: var(--red);
            }
        }
    }
}

.model_close_bg{
    content: ' ';
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,0.2);
    z-index: 99;
    cursor: pointer;
}




